main#main-code{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main#main-code ul{
  padding: 0;
}
.products-in-pack{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--azul2);
}
.products-in-pack p{
  padding: 0;
  margin: 0.3rem;
}
.of-price{
  font-size: 1.2rem;
}
.red-price{
  color: var(--rojo1);
  font-size: 2rem;
}
#main-code .white-btn{
color: black;
background: #ffffff;
}
#main-code .white-btn:hover{
  font-weight: 500;
  letter-spacing: 2.5px;
}
main#main-code form#show-code-pack{
  width: 300px;
}
button#button-code{
color:var(--azul1);
padding: 1rem 0;
margin: 0 2rem 1rem 0;
background: var(--rojo1);
}
form#show-code-pack{
  margin-top:3rem;
}
form#show-code-pack form.form-catalogue-filters{
  padding: 0;
}
form#show-code-pack div.group1 input{
  width: 97%;
  margin-top:0.5rem;
}
form#show-code-pack div.group1 .bar{
  width: 78%;
}