.main-edit-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--ubuntu);
}

.form-edit-password h3 {
  color: var(--azul1);
}

.form-edit-password {
  width: 300px;
  padding: 15px;
  margin-top: 2rem;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--azul1);
}

.edit-form .group1 input[name='newPassword'] {
  color: var(--azul1);
}

.main-edit-password img {
  height: 70px;
  width: auto;
}

.form-edit-password label {
  color: var(--azul1);
}

.form-edit-password .red-btn {
  color: #ffffff;
  background-color: var(--rojo1);
  margin: 1rem 2.5rem 1rem 0;
}
.form-edit-password .red-btn:hover{
  font-weight: 500;
  letter-spacing: 2.5px;
}
.form-edit-password a {
  color: var(--azul1);
}

.form-edit-password a:hover {
  text-decoration: underline;
  color: red;
}
