@import url('https://fonts.googleapis.com/css?family=Bungee|Comfortaa:400,700&display=swap');

main {
  flex-grow: 1;
}

.main-home {
flex-grow: 1;
}

.main-top {
text-align: center;
  font-family: var(--ubuntu);
  font-size: 40px;
  color: white;
  padding-top: 5rem;
  padding-left: 2rem;
  align-self: center;
}

.code-btn {
  width: 190px;
  height: 60px;
  border-radius: 10px;
  border-style: none;
  font-family: var(--ubuntu);
  font-size: 16px;
  background-color: var(--azul2);
  color: white;
  box-shadow: 10px 10px 5px -6px rgba(0.1, 0.1, 0.1, 0.1);
}

.reg-btn {
  width: 190px;
  height: 60px;
  border-radius: 10px;
  border-style: none;
  font-family: var(--ubuntu);
  font-size: 16px;
  background-color: var(--rojo1);
  color: white;
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.1);
}

.main-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

div .code-btn {
  margin-bottom: 2rem;
  cursor: pointer;
}

div .reg-btn {
  cursor: pointer;
}

div.demo1-img{
  margin-top: 2rem;
  text-align: center;
}


