@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap');

main {
  flex-grow: 1;
}

.main-home {
flex-grow: 1;
width: 100vw;
background-color: white;
}

div .main-btn {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 400px;
  width: 100vw;
  background-image: url('../assets/images/plantilla3.jpg');
  background-size: cover;
}

.main-btn h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight:400;
  justify-self: left;
  color:white;
  letter-spacing: .3rem;
  align-self:center;
  margin-bottom: 2rem;
    }

  @media screen and (min-width: 1000px) {
.main-btn h1{
  margin-bottom: 8rem;
}
  }

.code-btn {
  margin: 0 2rem 2rem 0;
  width: 190px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  font-family: var(--ubuntu);
  font-size: 16px;
  background-color: var(--azul2);
  color: white;
  box-shadow: 10px 10px 5px -6px rgba(0.1, 0.1, 0.1, 0.1);
}

.reg-btn {
  margin: 0 2rem 2rem 0;
  width: 190px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  font-family: var(--ubuntu);
  font-size: 16px;
  background-color: var(--rojo1);
  color: white;
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.1);

}

.cat-btn {
  margin: 0 2rem 2rem 0;
  width: 190px;
  height: 50px;
  border-radius: 10px;
  border-style: none;
  font-family: var(--ubuntu);
  font-size: 16px;
  background-color: rgb(189, 148, 38);
  color: rgb(255, 255, 255);
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.main-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

div .code-btn {  
  cursor: pointer;
}

div .reg-btn {
  cursor: pointer;
  
}

div .cat-btn:hover,
div .code-btn:hover,
div .reg-btn:hover{
  letter-spacing: 2px;
  transition: ease 0.5s;
}

@media screen and (min-width: 900px){
  div .main-btn {
    display: flex;
    flex-direction: row;

  }
}

/* Carrusel */

.carousel{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.carousel h2{
  font-family: var(--ubuntu);
  }

.carousel img{
  max-width: 100%;
}

.container-all{
  position: relative;
  max-width: 800px;
  width: 80%;
  height: auto;
  border-radius: 4px;
  overflow: hidden;
}

.slide{
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: all 6000ms;
  animation-name: autoplay;
  animation-duration: 20s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.item-slide{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  max-width: 100%;
  height: 300px;
}

.text {
  background-color: #001f3f;
}

.item-slide p{
  text-align: center;
  font-family: var(--ubuntu);
  font-size: 22px;
  padding: 1rem;
  color: rgb(255, 86, 213);
  letter-spacing: 0.1rem;
}

.pagination{
  position: absolute;
  bottom: 15px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.pagination-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(1, 15, 92);
  width: 28px;
  height: 28px;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 20px;
  text-align: center;
  transition: all 300ms;
}

.pagination-item:hover{
  transform: scale(2);
}

.pagination-item img, p{
  display: inline-block;
  max-width: none;
  height: 100%;
  transform: scale(1);
  opacity: 0;
  transition: all 300ms;
}

.pagination-item:hover img, p{
  opacity: 1;
  transform: scale(1);
}


input[id="1"]:checked ~ .slide{
  animation: none;
  transform: translate3d(0, 0, 0);
}

input[id="1"]:checked ~ .pagination .pagination-item[for="1"]{
  background: #fff;
}

input[id="2"]:checked ~ .slide{
  animation: none;
  transform: translate3d(calc(-100% * 1), 0, 0);
}

input[id="2"]:checked ~ .pagination .pagination-item[for="2"]{
  background: #fff;
}

input[id="3"]:checked ~ .slide{
  animation: none;
  transform: translate3d(calc(-100% * 2), 0, 0);
}

input[id="3"]:checked ~ .pagination .pagination-item p[for="3"]{
  background: #fff;
}


@keyframes autoplay{
 33%{
      transform: translate3d(calc(-100% * 0), 0, 0);
  }
  
  66%{
      transform: translate3d(calc(-100% * 1), 0, 0);
  }
  
  100%{
      transform: translate3d(calc(-100% * 2), 0, 0);
  }
}

/*Tarjetas*/

.cards-exp h2{
  font-family: var(--ubuntu);  
  margin: 4rem 0 1rem 0;  
  text-align: center;
}


 .wrap{
   
	margin-bottom: 5rem;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.tarjeta-wrap{
	margin: 10px;
	-webkit-perspective: 600;
	perspective: 600;
}

.tarjeta{
	width: 300px;
	height: 300px;
	background: var(--azul2);
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);

}

.adelante, .atras{
	width: 300px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.adelante{
	width: 300px;
	height: 300px;
}
  
.atras{
	transform: rotateY(180deg);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
  display: flex;
  flex-direction: column;	
	justify-content: center;	
	align-items: center;
	text-align: center;
	color: #fff;

}

.atras h2{
  font-family: var(--ubuntu);
  border-bottom: 1px solid grey;
}

.atras p{
  font-family: var(--rubik);
  padding: 0 1rem 0 1rem;
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.card1{
	background-image: url('../assets/images/colaborador.jpg');
	background-size: cover;
}

.card2{
	background-image: url('../assets/images/organizador.jpg');
	background-size: cover;
}

.card3{
	background-image: url('../assets/images/usuario.jpg');
	background-size: cover;
}

@media screen and (max-width: 1000px){
  .wrap {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    text-align: center; */
  }
} 
