.products-publi{
  color: #34495E;
  font-family: var(--ubuntu);
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
}
ul.product-list2{
  width: fit-content;
  border-top:1px solid #34495E;
}
ul.product-list2 li{
  padding: 0.5rem 1rem;
border-bottom:1px solid #34495E;
}
ul.product-list2 li div,
.list-po-pack,
form.editForm div.group1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2.code-list{
  color: var(--rojo1);
}
h3.code-list{
  color: #ffffff;
  font-size: 1.5rem;
  align-self:start;
  padding-left: 2.5rem;
  font-family: var(--ubuntu);
}
.code2{
  font-size: 1.5rem;
  color:var(--rojo1);
}
div.packages-offered{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.packages-offered button.white-btn{
  color:black;
  background-color: #ffffff;
}
div.packages-offered button.white-btn:hover{
  font-weight: 500;
}
ul.listPoPack{
  width: 400px;
}
ul.listPoPack li{
  border-bottom: 1px solid #ffffff;
  margin:1rem; 
}
/* ul.listPoPack li div{
  display: flex;
  flex-direction: column;
} */
ul.listPoPack .titP{
  color: aquamarine;
  margin-right:0.5rem ;
}
img.imgPoPack{
  width: 100%;
}
div#edit-prod-pack{
  margin-top:5.5rem;
  margin-left: 1rem;
  background: var(--azul2);
  padding-bottom: 1rem;
  border-radius:10px;
  text-align: center;
  color:#ffffff;
}
div#edit-prod-pack input{
  margin-top: 1rem;
  width: 90%;
  margin-left: 1rem;
}
p.whi{
  color:var(--rojo1);
}
div.product-co form.editForm button.red-btn{
  color: #ffffff;
  border: none;
}