.main-rate {
  font-family: var(--ubuntu);
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.form-rate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
}

#comment {
  background: transparent;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--gris1);
  resize: none;
  color: var(--azul1);
}

.form-rate label {
  padding-right: 10rem;
}

#comment:focus {
  outline: none;
  color: var(--azul1);
  background-color: #f1f3ce;
}

select#document_type {
  width: 150px;
  font-size: 14px;
  font-family: var(--rubik);
  border-radius: 6px;
  color: var(--azul1);
}

.group2 #document_type {
  margin-left: 5rem;
}

#comment:focus ~ .bar::before {
  width: 96%;
}

.bar {
  position: relative;
  display: block;
  width: 80%;
  padding-left: 5rem;
}

.bar::before {
  content: '';
  height: 3px;
  width: 0%;
  bottom: 0;
  position: absolute;
  background: var(--gradiente);
  transition: 0.3s ease all;
  left: 0%;
}

button#btn-rate{
background: #ffffff;
font-size: 12px;
padding: 0.5rem;
margin: 0 0 0 1rem;
color:var(--azul1);
border-radius:5px;
}
button#btn-rate:hover{
  border: 1px solid var(--azul1);
  color: black;
}
div#single-product{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#rate-line{
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.rate-p{
  color: yellow;
  font-weight: 600;
  font-size:2rem;
  margin-left: 1rem;
}
.valoration-title{
  align-self: flex-end;
}
div.products-order-history button.red-btn,
form.form-rate button#send{
  background-color: var(--rojo1);
  color:#ffffff;
}
div.products-order-history button.white-btn,
main.main-rate a.white-btn{
  background-color: #ffffff;
  color: black;
}
div.products-order-history button.red-btn:hover,
div.products-order-history button.white-btn:hover,
form.form-rate button#send,
main.main-rate a.white-btn{
  font-weight: 500;
  letter-spacing: 2.5px;
}